<div class="container friend-show-container">
  <h1><%= @friend.name %></h1>

  <%= cl_image_tag(@friend.photo.key, class:"friend-show-picture") %>
  <div class="firend-show-details">
    <h2><%= @friend.price_per_day %>€/day</h2>
    <p><%= @friend.description %></p>
  </div>
  <div class="show-booking">
    <p>dates</p>
    <button>Book</button>
  </div>
</div>
